language: python

python:
    - 2.7
    - 3.3

install:
    - pip install -r requirements.txt
    - python setup.py install
    - pip install coveralls 
    
script:
    #- python tests.py
    - coverage run --source=nvd3 setup.py test
notifications:
    email: true

after_success:
    coveralls
