
        chart.margin({top: 30, right: 60, bottom: 50, left: 70});
        chart.x(function(d,i) { return i });

    {% if chart.width %}
        chart.width({{ chart.width }});
    {% endif %}
    {% if chart.height %}
        chart.height({{ chart.height }});
    {% endif %}

    {% if chart.x_axis_format == 'AM_PM' %}
        function get_am_pm(d){
            if (d > 12) {
                d = d - 12; return (String(d) + 'PM');
            }
            else {
                return (String(d) + 'AM');
            }
        };
    {% endif %}